.main{
  position: relative;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E3C9;
  color:#58481c;
  section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button{
      width: 100%;
      border: 0.3rem solid;
      border-color:#557C55;
      color:#eeee;
      background-color:#58481c;
      padding: 0.5rem 1rem;
      transition-duration: 300ms;
      font-weight: bold;
    }
    .selected{
      color:#eeee;
      background-color:#58481c;
    }
    .notselected{
      border-color:#eeee;
      color:#58481c;
      background-color:#eeee;
    }
  }
  .airport{
    flex-direction: row;
    justify-content: space-around;
    h1{
      font-size: 4rem;
      text-align: center;
      font-weight: bold;
    }
  }
  .container{
    background-color: #d6d3a9;
    .title{
      font-weight: 700;
    }
    .flight{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7,1fr);
        :nth-child(n){
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}