.main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 3rem;
  background-color: #E5E3C9;
  color:#58481c;
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    @media (max-width: 600px) {
    
      flex-direction: column;
    }
  }
  .icon{
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .airport{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    @media (max-width: 600px) {
      grid-template-columns: repeat(2,1fr);
    }
    div{
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
        color:#557C55;
      }
    }
    p{
      text-align: center;
    }
  }
  .ticket{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    :nth-child(n){
      margin: 1rem;
    }
    span{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30%;
      @media (max-width: 600px) {
        flex-direction: column;
      }
    }
    input{
      height:2rem;
      width: 50%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    h3{
      border-radius:25px;
      border: 0.1rem solid;
      border-color:#557C55;
      color:#eeee;
      background-color:#58481c;
      padding: 0.5rem 1rem;
    }
  }
}




