.nav{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #789395;
  color:#E5E3C9;
  .icon{
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.footer{
  width: 100vw;
  height: auto;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #789395;
  color:#E5E3C9;

}