.main {
  :root{
    --background-color: #ab2e2e;
    --color: #000;
  }
  &[data-airway="Thai Airways"] {
    --background-color: #ffcc00;
    --color: #3d1a6e;
  }
  &[data-airway="Thai airways"] {
    --background-color: #ffcc00;
    --color: #3d1a6e;
  }
  &[data-airway="American Airlines"] {
    --background-color: #e5f1fa;
    --color: #0078d2;
  }
  &[data-airway="Nippon Airways"] {
    --background-color: #eeee;
    --color: #006ee3;
  }
  &[data-airway="Singapore Airlines"] {
    --background-color: #eeee;
    --color: #f99f1c;
  }
  &[data-airway="Emirates"] {
    --background-color: #d72027;
    --color: #eeee;
  }
  &[data-airway="Turkish Airlines"] {
    --background-color: #eeee;
    --color: #d90000;
  }
  &[data-airway="Lufthansa"] {
    --background-color: #05164d;
    --color: #ffad00;
  }
  &[data-airway="Air Europa"] {
    --background-color: #2d69e1;
    --color: #eeee;
  }&[data-airway="Philippine Airlines"] {
    --background-color: #64619d;
    --color: #eeee;
  }
  min-height: 80vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--color);
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 1rem;
      background-color: var(--color);
      color: var(--background-color);
      h1 {
        font-size: 4rem;
        margin: 0;
      }
      h2 {
        font-size: 1.5rem;
        margin: 0;
        text-decoration: underline;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
      }
      span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media screen and (max-width: 600px) {
        h1 {
          font-size: 3rem;
          margin: 0;
        }
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 1rem;
      background-color: var(--background-color);
      color: var(--color);
      h1 {
        font-size: 2rem;
        margin: 0;
      }
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
        text-decoration: underline;
      }
      h4 {
        font-size: 4.5rem;
        margin: 0;
      }
      p {
        margin: 0.5;
      }
      section {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0 1rem;
        section {
          flex-direction: column;
          align-items: baseline;
        }
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}
.icon {
  width: 75px;
  height: 75px;
}
